body {
    height: 100%;
    background-color: #0ca5c7;
    font-family: 'Libre Franklin', sans-serif;
}
img {
    max-width: 100%;
    height: auto;
  }
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.horizontal-center {
    margin: auto;
    position: absolute;
    left: 50%;

}
.large-font {
    font-size: 75px;
}